body {
    touch-action: none;
}

#map-container {
    touch-action: none;
}

#map {
    touch-action: auto;
}

.controls {
    touch-action: none;
}

.controls > div {
    touch-action: manipulation;
}

@media (max-width: 768px) {
    .controls > div {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
}
